@font-face {
            font-family: 'NanumBarunpen';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'NanumSquareRound';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'NanumSquareRound', sans-serif;
        }

        a {
            margin-right: 20px;
            margin-left: 30px;
        }

        a:link {
            text-decoration: none;
            color: #383838;
        }

        a:visited {
            text-decoration: none;
            color: #383838;
        }

        a:active {
            text-decoration: none;
            color: #383838;
        }

        table{
            border-collapse: collapse;
            width: 1000px;
            text-align: center;
        }
        th,td{
            padding:10px;
            border-bottom: 1px solid #cccccc;
        }

        th {
            background-color:#f0f0f0;
        }

        #wrap {
            width: 1000px;
            height: 900px;
            margin: 0 auto;
            color: #383838;
        }

        #header {
            width: 1000px;
            height: 100px;
            line-height: 100px;
            font-weight: bold;
            font-family: 'NanumBarunpen', sans-serif;
            font-size: larger;
            text-align: center;
            color: #383838;
            background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
        }

        #nav {
            width: 1000px;
            height: 80px;
            line-height: 80px;
            float: right;
            font-weight: bold;
        }

        #contents {
            width: 1000px;
            font-size: smaller;
            display: table-row;
            width:100%;
        }


        #footer {
            float: left;
            width: 1000px;
            height: 100px;
            line-height: 100px;
            background: #66bb6a;
        }
